@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Bytesized&family=Fredoka:wght@300..700&family=Monofett&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

html,
body {
  overflow-x: hidden;
}

:root {
  --background-light: #ffffff8a;
  --background-dark: #131212;
  --background-card-dark: #252323;
  --text-dark: #000000;
  --text-light: #e6d5d5;
}

.bg-dark {
  background-color: var(--background-dark);
}

.bg-card-dark {
  background-color: var(--background-card-dark);
}

.bg-light {
  background-color: var(--background-light);
}

.text-dark {
  color: var(--text-dark);
}

.text-light {
  color: var(--text-light);
}

.fredoka-variable {
  font-family: 'Fredoka', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.boldonse-regular {
  font-family: 'Boldonse', system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-variable {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.ubuntu-light {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-bold {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: italic;
}
